{% assign price_variant = use_variant | default: product.selected_or_first_available_variant %}
<div class="product-price{% if price_variant.compare_at_price > price_variant.price %} product-price--on-sale{% endif %}" data-product-price>
  <span class="product-price__regular" data-price-regular{% if price_variant.compare_at_price > price_variant.price %} hidden{% endif %}>{{ price_variant.price | money }}</span>
  <span class="product-price__sale" data-price-sale{% unless price_variant.compare_at_price > price_variant.price %} hidden{% endunless %}>{{ price_variant.price | money }}</span>
  <s class="product-price__compare" data-price-compare{% unless price_variant.compare_at_price > price_variant.price %} hidden{% endunless %}>{{ price_variant.compare_at_price | money }}</s>
  <span class="visually-hidden" data-price-sale-status{% unless price_variant.compare_at_price > price_variant.price %} hidden{% endunless %}>Sale</span>
  <small class="product-price__unit" data-price-unit{% unless price_variant.unit_price_measurement %} hidden{% endunless %}>{% if price_variant.unit_price_measurement %}{{ price_variant.unit_price | money }} / {% if price_variant.unit_price_measurement.reference_value != 1 %}{{ price_variant.unit_price_measurement.reference_value }}{% endif %}{{ price_variant.unit_price_measurement.reference_unit }}{% endif %}</small>
</div>
